@charset "UTF-8";

body {
    font-family: "Microsoft JhengHei", "Microsoft YaHei", Tohoma, Arial;
    overflow-x: hidden;
}

.-header {
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #ccc;

    .main {
        max-width: 1280px;
        margin: 0 auto;

        .navbar {
            background: transparent;
            border-color: transparent;

            .navbar-header {
                .navbar-brand {
                    height: auto;
                    width: 280px;

                    img {
                        max-width: 100%;
                    }
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                            font-size: 20px;
                            color: #03338b;
                            text-decoration: none;
                            font-weight: bold;
                        }


                    }
                }
            }
        }
    }
}


// 輪播
.index-carousel {
    position: relative;

    .owl-stage {
        display: block;
    }

    .owl-dots {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        .owl-dot {
            &.active {
                span {
                    background: #03338b;
                }
            }

            span {
                width: 50px;
                height: 5px;
                border-radius: 3px;
                background: #ccc;
                display: inline-block;
                margin: 10px;
            }
        }

    }
}

// 內容
.page-zone {
    max-width: 1170px;
    margin: 0 auto;
    padding: 3% 15px;

    .row {
        margin: 0 -10px;

        [class*="col"] {
            padding: 0 10px;
        }
    }

    .-content {
        p {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
            line-height: 1.8;
            text-align: justify;
        }

        .max-300 {
            max-width: 300px;
            margin: 0 auto;
            border: 1px solid #ccc;
            border-radius: 4px;

            img {
                width: 100%;
                border-radius: 4px;
            }
        }

        ul {
            margin: 0px 0px 20px;
            padding: 0px;
            list-style-type: none;

            li {
                font-size: 18px;
                line-height: 1.8;
                color: #333;

                svg {
                    margin-right: 5px;
                }

                a {
                    color: #333;
                    text-decoration: none;
                    transition: all .35s linear;

                    &:hover {
                        color: #03338b;
                    }
                }
            }
        }


    }

    iframe {
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }

}



.main-title {

    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    .-font {
        text-align: center;
        padding: 0 30px;
        white-space: nowrap;

        .-cn {
            color: #03338b;
        }

        .-eng {
            color: #666;
        }
    }

    &::before {
        content: "";
        height: 2px;
        width: 8%;
        background: #03338b;



    }

    &::after {
        content: "";
        height: 2px;
        width: 8%;
        background: #03338b;


    }


}

// 產品設計
.design-bg {
    background-image: url(../img/d-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        left: 0;
        bottom: 0;

    }

    img {
        max-width: 100%;
    }

    a {
        outline: none !important;
        display: block;
        margin: 0 10px;
        text-decoration: none;
        color: #333;
        transition: all .35s linear;
        overflow: hidden;

        img {
            transition: all .35s linear;
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
            }
        }

        &:hover {
            color: #03338b;
        }


    }

    p {
        font-size: 18px;
        line-height: 1.8;
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
    }
}

footer {
    margin-top: 5%;

    .-copyright {
        background: #03338b;
        color: #fff;
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }
}

.top-btn {
    position: fixed;
    bottom: -2em;
    right: 1%;
    cursor: pointer;
    opacity: 0;
    transition: all ease 1s;
    font-size: 36px;
    z-index: 999;
    color: #03338b;

    &.show {
        opacity: 0.8;
        bottom: 4em;
    }
}


// 電腦
@media screen and (max-width: 899px) and (min-width: 768px) {
    .-header {


        .main {
            .navbar {


                .navbar-collapse {

                    .navbar-nav {

                        li {
                            a {

                                font-size: 18px;




                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .-header {
        z-index: 1000;
        position: fixed;
        width: 100%;
        top: 0;

        .main {
            .navbar {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .navbar-collapse {

                    .navbar-nav {
                        width: 100%;
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        li {


                            a {
                                position: relative;
                                margin: 10px;
                                display: block;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 0%;
                                    height: 2px;
                                    background: #03338b;
                                    bottom: -5px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    transition: all .35s linear;

                                }

                                &:hover {
                                    &::after {
                                        width: 95%;
                                    }
                                }

                            }

                        }
                    }
                }
            }
        }
    }
}

// M版
@media (max-width: 767px) {
    .-header {
        .main {
            .navbar {
                padding: 0px;

                .navbar-header {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;

                    .navbar-brand {

                        padding: 10px;
                        width: 240px;

                        img {
                            max-width: 100%;
                        }
                    }



                    .navbar-toggler {
                        outline: none !important;
                        position: relative;
                        margin: 0 10px 0 auto;
                        border: 0px;
                        background: transparent;

                        span {
                            display: block;
                            background: #03338b;
                            width: 22px;
                            height: 2px;
                            border-radius: 1px;
                            transition: all .3s linear;

                            &:nth-child(1) {
                                transform: rotate(45deg);
                                transform-origin: 10% 10%;
                            }

                            &:nth-child(2) {
                                margin-top: 4px;
                                opacity: 0;
                                transform: translateX(-25px);
                            }

                            &:nth-child(3) {
                                margin-top: 4px;
                                transform: rotate(-45deg);
                                transform-origin: 10% 90%;
                            }
                        }

                        &.collapsed {
                            span {
                                &:nth-child(1) {
                                    transform: rotate(0);
                                }

                                &:nth-child(2) {
                                    opacity: 1;
                                    transform: translateX(0px);
                                }

                                &:nth-child(3) {
                                    transform: rotate(0);
                                }
                            }
                        }
                    }
                }

                .navbar-collapse {
                    border-top: 1px solid #ccc;

                    .navbar-nav {
                        margin: 1em 0em;

                        li {
                            text-align: center;

                            a {
                                font-size: 16px;
                                display: inline-block;
                                margin: 10px;

                            }



                        }
                    }
                }
            }
        }
    }


    .page-zone {

        padding: 6% 10px;



        .-content {
            p {
                font-size: 16px;

            }


            ul {


                li {
                    font-size: 16px;


                }
            }
        }

    }

    .main-title {

        font-size: 20px;


        .-font {
            padding: 0 20px;

        }

        &::before {

            width: 10%;
        }

        &::after {

            width: 10%;
        }


    }

    // 產品設計
    .design-bg {

        a {

            margin: 0px;

        }

        p {
            font-size: 16px;
        }
    }

    footer {
        margin-top: 6%;
    }
}